.Accordion {
    gap: 8px;

    .Section {

        .Header {

            .Title {
                font-weight: bold;
            }
        }

        .Content {
            padding: 8px;
        }
    }
}