.List {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .Item {
        cursor: pointer;
        padding: 8px;

        &:hover {
            background: var(--gray-80);
        }
    }
}