.Notification {
    .NotificationList {
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;

        .Notification {
            background-color: var(--gray-98);
            border-radius: 8px;
            border: 1px solid var(--gray-90);
            padding: 16px;
        }
    }
}