.Accordion {
    display: flex;
    flex-direction: column;

    .Section {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;

        overflow: hidden;

        .Header {
            cursor: pointer;

            display: flex;
            flex-direction: row;
            justify-content: space-between;


            .Title {
                display: block;
            }

            .Expand {
                display: block;
            }
        }

        .Content {
            display: none;
        }

        &.Expanded>.Content {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}