.Button {
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: unset;

    color: inherit;

    cursor: pointer;

    .Icon {
        cursor: inherit;
        pointer-events: none;
    }

    .Label {
        cursor: inherit;
    }
}