.Section {

    >.Header {
        display: flex;
        justify-content: space-between;

        >.Title {
            font-weight: bold;
        }
    }

    >.Content {
        padding: 8px;
        display: none;
    }

    &.Expand>.Content {
        display: block;
    }
}