.WorkSpace {
    background-color: var(--grey-90);
    position: relative;

    > :nth-child(2) {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
    }

    > :nth-child(3) {
        position: absolute;
        right: 16px;
        bottom: 16px;
    }
}