.UtilityBar {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 8px;
    gap: 8px;

    background-color: var(--gray-94);

    .Widget {
        gap: 8px;
        background-color: white;
        border-radius: 8px;
        overflow: hidden;

        >.Header {
            padding: 8px;
            background-color: var(--gray-98);
            display: flex;
            justify-content: space-between;


            >.Title {
                font-weight: bold;
            }
        }

        &.Expand {
            .Content {
                display: block;
            }
        }

        .Content {
            padding: 8px;
        }
    }

    .Section {

        >.Header {
            display: flex;
            justify-content: space-between;

            .Title {
                font-weight: bold;
            }
        }

        .Content {
            padding: 8px;
        }
    }

    .Button {
        width: 42px;
        height: 42px;

        border-radius: 8px;

        .Icon {
            width: 16px;
            height: 16px;
        }

        .Label {
            display: block;
        }

        &.Pressed {
            border: 1px solid black;
        }
    }

    .List {
        display: flex;
        flex-direction: column;

        .Item {
            cursor: pointer;
            padding: 8px;

            &:hover {
                background: var(--gray-80);
            }
        }
    }
}