.Node {
	pointer-events: none;
	display: inline;

	.Head {
		width: fit-content;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		white-space: pre;
		gap: 8px;
		align-items: center;
		cursor: pointer;

		margin-top: 4px;

		padding: 2px;
		pointer-events: auto;

		.Icon {
			width: 16px;
			height: 16px;
		}
	}

	&.Selected>.Head {
		color: red;
	}

	&.Expanded>.Body {
		display: flex;
	}

	.Body {
		display: none;
		flex-direction: column;
		width: fit-content;
		padding-left: 24px;
	}

}