.NotificationArea {
    width: 300px;

    .NotificationList {
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;

        .Notification {
            background-color: var(--grey-98);
            border-radius: 8px;
            border: 1px solid var(--grey-90);
            padding: 16px;
        }
    }
}